{% extends "base.html" %}

{% block title %}Авторизация во Вконтакте{% endblock %}

{% block content %}
<h1>Авторизация во Вконтакте</h1>
<p class="lead text-muted">После нажатия кнопки авторизации вам нужно будет согласиться предоставить права сайту на доступ к публичной информации профиля а также доступ к друзьям, после этого выведится список из 9 ваших друзей</p>
        <a href="https://oauth.vk.com/authorize?client_id=7541756&redirect_uri=http://viteka.pythonanywhere.com/response/&scope=2&display=popup" class="btn btn-primary my-2">Получить список друзей</a>
{% endblock %}

